# GitHub OAuth App → https://github.com/settings/developers
GITHUB_ID=
GITHUB_SECRET=

# openssl rand -base64 32
NEXTAUTH_SECRET=

# Local: http://localhost:3000
# Produção: https://seu-app.vercel.app
NEXTAUTH_URL=http://localhost:3000
